body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f4;
  height: 100vh;
  position: relative;
}

:root {
  --color-primary: #009ca1;
  --color-red: #e74c3c;
  --fetch-success-color: #fff;
  --fetch-error-color: var(--color-red);
  --fetch-loading-color: var(--color-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: space-between;
}

.list {
  flex: 1;
  max-height: 100vh;
  overflow-y: auto;
  max-width: 30rem;
  padding: 0 5px;
}

.selected {
  color: #333333;
  font-size: 26px;
  font-weight: 700;
  margin: 10px 20px;
}

@media (max-width: 670px) {
  .App {
    flex-direction: column;
  }

  .list {
    max-height: 90vh;
    margin: 0 auto;
  }

  .selected {
    margin: 20px;
  }
}

.person-info {
  display: flex;
  height: 100px;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  margin: 10px 0;
  background: #fff;
  cursor: pointer;
  border: 2px solid transparent;
}

.person-info:hover {
  border-color: var(--color-red);
}

.person-info.selected-person {
  border-color: var(--color-primary);
}

.topContainer {
  display: flex;
  align-items: center;
}

.initialsInCircle {
  margin-right: 10px;
  font-size: 1.2rem;
  border: 1px solid black;
  padding: 10px;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameAndJobTitleContainer {
  text-align: start;
}

.firstNameLastName {
  color: #333333;
  font-size: 26px;
  font-weight: 700;
}

.jobTitle {
  text-transform: uppercase;
  color: var(--color-red);
  /*color: #e74c3c;*/
  font-size: 20px;
  font-weight: 400;
}

.emailAddress {
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}

.fetch-state-button {
  padding: 20px 40px;
  width: 100%;
  font-size: 1.2rem;
  margin: 20px 0;
  cursor: pointer;
  background-color: var(--fetch-success-color);
}

.fetch-state-button:hover {
  filter: brightness(0.95);
}

.fetch-error-background {
  background-color: var(--fetch-error-color);
}

.fetch-loading-background {
  background-color: var(--fetch-loading-color);
}
